
.routes {
    padding: 1rem;
    background-color: #222831;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
}
.routes-list{
    padding: 0;
    list-style: none;
}
.routes-list__noRoutesMsg{
    color: #ff5722;
   text-align: center;
   text-transform: uppercase;  
   word-spacing: 0.2rem;
}