.new-routes {
    background-color: #1D6D8E;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-routes button {
    font: inherit;
    cursor: pointer;
    padding: 0.7rem 2rem;
    border: 1px solid #3f3f3f;
    background-color: #4a8aa5;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
    width: 9rem;
}

.new-routes button:hover,
.new-routes button:active {
    background-color: #77a7bb;
    border-color: #222831;
}

.new-routes button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}

.new-routes button.alternative:hover,
.new-routes button.alternative:active {
    background-color: #ddb3f8;
}