.new-routes__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.new-routes__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.new-routes__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.new-routes__actions {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.labels {
    color: white;
}

.error-text {
    color: #d3799b;
    text-transform: uppercase;
    margin-top: 5px;
}