:root {
    --purple: #331a38;
    --blue: #491d88;
    --green: #43b5a0;
    --pink: #fa448c;
    --yellow: #fec859;

}

.routes {
    padding: 1rem;
    background-color: #222831;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
}