/* .route-style {
    display: flex;
    flex-direction: column;
    min-width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #eeeeee;
    background-color: #528f92;
    color: #eeeeee;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

h3 {
    margin: 0 auto
} */